
*.pth
*.pt
*.onnx
*.ckpt
*.bin
*.h5
*.pb
*.weights
*.model
*.t7
/checkpoints/
*.safetensors
*.tfevents.*
scripts/*.sh.o*
output/h


__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.cache/
.ipynb_checkpoints/
.DS_Store
Thumbs.db


.gradio/
.wandb/
/outputs/
/runs/
/logs/


*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.svg
/data/
/figures/


.env
.venv
env/
venv/
ENV/
bin/
lib/
develop-eggs/
dist/
build/
*.egg-info/